<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1"  >
<test name="Regression1"   >
<!--    <packages>-->
<!--        <package name="test.resources.features.LoginWithDifferentUsers.feature"/>-->
<!--    </packages>-->
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="librarian"/>-->
<!--        </run>-->
<!--    </groups>-->
    <classes>
        <class name="com.LibraryCT.step_definitions.ParallelRun"/>
    </classes>

</test>
</suite>